{% extends 'church/base.html' %}
{% block container %}
<div>
  <h1>Other Group List</h1>
  <div>
    <a class="btn btn-md btn-primary" style="float:right;" href="{% url 'other_group-create' %}"><i class="fa fa-plus"></i> Create New Group</a>
  </div>
  <div style="clear:both;"></div><hr />
  
  <div class="table-responsive">
    <table class="table table-hover table-striped datatable w-100" data-exportTitle="Other Group List">
      <thead>
        <tr>
          <th>#</th>
          <th>Group Name</th>
          <th>Short Name</th>
          <th>Slogan</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for other_group in other_groups %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ other_group.name }}</td>
            <td>{{ other_group.short_name }}</td>
            <td>{{ other_group.slogan }}</td>
            <td>{{ other_group.status }}</td>
            <td style="text-wrap:nowrap; vertical-align:middle;">
              <a href="{% url 'other_group-members' other_group.id %}" class="warning p-2 mr-2"><i class="fa fa-users" title="View Members"></i></a>
              <a href="{% url 'other_group-update' other_group.id %}" class="info p-2 mr-2" title="Edit"><i class="fa fa-pencil"></i></a>
              <a data-url="{% url 'other_group-delete' other_group.id %}" onclick="confirmDelete(this)" class="danger p-2" title="Delete"><i class="fa fa-times"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    $(".datatable").DataTable();
  })
</script>
{% endblock %}