{% extends 'church/base.html' %}
{% load widget_tweaks %}


{% block breadcrumb %}
<li class="breadcrumb-item">Password</li>
{% endblock %}

{% block container %}
<div style="max-width:400px; min-width:100px;" class="mx-auto p-4 my-4 card">
  <h1 class="card-header bg-white">Password Reset Request Done</h1>
  <div class="card-body">
    <p class="text-info">
      You will receive an email with instructions on how to reset your password.<br />
      Kindly check your inbox or the spam folder</p>
  </div>
</div>
{% endblock %}
