{% load i18n %}{% autoescape off %}
{% blocktranslate %}
  You are receiving this email because you requested a password reset for your user account at {{ site_name }}
{% endblocktranslate %}

{% translate "Please go to the following page by click the link below to choose a new password" %}
{% block reset_link %}
  {{protocol}}://{{domain}}{% url 'users-password-reset-confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Your username, in case you've forgotten: " %}{{user.get_username}}
{% translate "Email: " %}{{user.email}}

{% blocktranslate %}
If clicking the link does not work, simply copy and paste it in any browser.

Kindly disregard this email if you did not request this password reset.

Thank you for using our site


Sincerely,
The {{site_name}} developer
{% endblocktranslate %}

{% endautoescape %}