{% extends 'church/base.html' %}
{% load widget_tweaks %}


{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="{% url 'users-view' %}">Users</a>
</li>
<li class="breadcrumb-item">Update</li>
{% endblock %}

{% block container %}
<div style="max-width:400px; min-width:100px;" class="mx-auto p-4 my-4 card">
  <h1 class="card-header bg-white">User Update Form</h1>
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if u_form.non_field_errors or p_form.non_field_errors %}
      {% for error in u_form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
      {% for error in p_form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
    {% endif %}
    
    {% for field in u_form %}
      <div class='mb-3'>
        {{ field.label_tag }}
        {% render_field field class='form-control' %}
        <small class="text-danger">{{ field.errors }}</small>
      </div>
    {% endfor %}
    {% for field in p_form %}
      <div class='mb-3'>
        {{ field.label_tag }}
        {% render_field field class='form-control' %}
        <small class="text-danger">{{ field.errors }}</small>
      </div>
    {% endfor %}
    
    <div class="mb-3">
      <input type="submit" value="Save" class="btn btn-md btn-outline-primary form-control" />
    </div>
  </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
  $('#id_group').val('{{u_form.instance.groups.all.0.id}}');
})
</script>
{% endblock %}