{% extends 'church/base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="{% url 'station-view' %}">Station</a>
</li>
<li class="breadcrumb-item">Members</li>
{% endblock %}

{% block container %}
<div>
  <h1>Station Members List</h1>
  <div class="my-3">
    <div class="row border-bottom py-2">
      <div class="col-4">Station</div>
      <div class="col-8">{{ station.name }}</div>
    </div>
    <div class="row border-bottom py-2">
      <div class="col-4">Address</div>
      <div class="col-8">{{ station.address }}</div>
    </div>
  </div>
  
  
  <section>
    <div class="card mb-4">
      <h2 class="card-header"><i class="fa fa-filter"></i> Filter</h2>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div>Organisation</div>
            <div>
              <select id="cmbOrganisation" class="form-control">
                <option value="">Select one</option>
              {% for organisation in organisations %}
                <option value="{{ organisation.organisation.id }}">{{ organisation.organisation.short_name }}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div>Society</div>
            <div>
              <select id="cmbSociety"  class="form-control">
                <option value="">Select one</option>
              {% for society in societies %}
                <option value="{{ society.id }}">{{ society }}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div>Status</div>
            <div>
              <select id="cmbStatus" class="form-control">
                <option value="">Select one</option>
              {% for status in statuses %}
                <option value="{{ status }}">{{ status }}</option>
              {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label for="chkBaptised">
              <input type="checkbox" id="chkBaptised" /> Baptised
            </label>
          </div>
          <div class="col-sm-3">
            <label for="chkCommunicant">
              <input type="checkbox" id="chkCommunicant" /> Communicant
            </label>
          </div>
          <div class="col-sm-3">
            <label for="chkConfirmed">
              <input type="checkbox" id="chkConfirmed" /> Confirmed
            </label>
          </div>
          <div class="col-sm-3">
            <label for="chkWedded">
              <input type="checkbox" id="chkWedded" /> Wedded
            </label>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <div class="table-responsive">
    <table class="table table-hover table-striped datatable display" data-exportTitle="{{ station.name }} Station Members" style="width:100%;">
      <thead>
        <tr>
          <th style="width:100px !important;">Name</th>
          <th style="width:100px !important;">Address</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>Station</th>
          <th>Organisation</th>
          <th>Society</th>
          <th>Baptised</th>
          <th>Communicant</th>
          <th>Confirmed</th>
          <th>Wedded</th>
          <th>Status</th>
          <th class="no-export"></th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stations">-->
<!--  Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="stations" tabindex="-1" role="dialog" aria-labelledby="stationTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stationTitle">Change Member's Station</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <input type="hidden" value="" id="member_id"/>
          <label for="id_station">Station</label>
          <select id="id_station" class="form-control"></select>
        </div>
        <div class="mb-3">
          <label for="id_organisation">Organisation</label>
          <select id="id_organisation" class="form-control"></select>
        </div>
        <div class="mb-3">
          <label for="id_society">Society</label>
          <select id="id_society" class="form-control"></select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="changeStation()"> Change</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
  const dt = $('.datatable').DataTable({
    order: [[0, 'desc']],
    language: {
      searchPlaceholder: " Search by name...",
    },
    processing: true,
    serverSide: true,
    ajax: {
      url: baseurl + '/api/parishioner/datatable/',
      dataSrc: 'data',
      //type: 'POST',
      "data": function ( d ) {
        d.organisation_id = $("#cmbOrganisation").val();
        d.station_id = '{{ station.id }}';
        d.society_id = $("#cmbSociety").val();
        d.status = $("#cmbStatus").val();
        d.baptised = $("#chkBaptised").is(":checked") ? "True" : "";
        d.communicant = $("#chkCommunicant").is(":checked") ? "True" : "";
        d.confirmed = $("#chkConfirmed").is(":checked") ? "True" : "";
        d.wedded = $("#chkWedded").is(":checked") ? "True" : "";
        d = __datatable_ajax_callback(d);
      }
    },
    columns: [
      {
        data: null,
        render: function (data, type, row) {
            return `<div class='d-flex'><img src='${row.passport}' width='50' height='50' class='rounded-circle mr-2' /><span>${row.fullname}</span></div>`;
        },
      },
      { data: 'residential_address', orderable:false, searchable:false },
      { data: 'phone_number', orderable:false, searchable:false },
      { data: 'email', orderable:false, searchable:false },
      { data: 'date_of_birth', orderable:false, searchable:false },
      { data: 'gender', orderable:false, searchable:false },
      { data: 'station.name', orderable:false, searchable:false },
      { data: 'organisation.organisation.short_name', orderable:false, searchable:false },
      { data: 'working_society.name', orderable:false, searchable:false },
      { data: 'baptised', orderable:false, searchable:false },
      { data: 'communicant', orderable:false, searchable:false },
      { data: 'confirmed', orderable:false, searchable:false },
      { data: 'wedded', orderable:false, searchable:false },
      { data: 'status', orderable:false, searchable:false },
      { 
        data: null, 
        render: function (data, type, row) {
         const detailUrl = "{% url 'parishioner-detail' 12345 %}".replace(/12345/, row.id.toString());
         const updateUrl = "{% url 'parishioner-update' 12345 %}".replace(/12345/, row.id.toString());
         const deleteUrl = "{% url 'parishioner-delete' 12345 %}".replace(/12345/, row.id.toString());
         
          return `<div class="d-flex"><a href='${detailUrl}' title="Detail"><i class='fa fa-eye warning p-2 mr-2'></i></a>
            <a href='${updateUrl}' title="Edit"><i class='fa fa-pencil info p-2 mr-2'></i></a>
            <a onclick="getStation(event, ${row.id})" title="Change Member's Station"><i class="fa fa-exchange primary p-2 mr-2"></i></a>
            <i class='fa fa-times p-2 danger' onclick="confirmDelete(event)" data-url='${deleteUrl}' title="Delete"></i>`;
        },
        searchable:false, orderable: false 
      }
    ]
  });
  
  $("#cmbStatus, #cmbSociety, #cmbOrganisation, #chkWedded, #chkConfirmed, #chkCommunicant, #chkBaptised").on("change", function() {
    dt.ajax.reload();
  });
    
});
  
let eventTarget = '';
function getStation(e, member_id){
  const url = baseurl + '/api/station';
  $.get(url, {}, (data, status) => {
    if (status == "success"){
      let options = "<option value='' selected>Select...</option>";
      data.forEach(station => {
        disabled = station.id == '{{ station.id}}' ? 'disabled' : '';
        options += "<option value='"+station.id+"' "+disabled+">"+station.name+"</option>";
      });
      $('#id_station').html(options);
      eventTarget = e.target;
      $('#member_id').val(member_id);
      $('#stations').modal('show');
    }else{
      errorMsg("Error while retrieving stations");
    }
  });
}
  
function changeStation(){
  const id = $('#member_id').val();
  const station_id = $('#id_station').val();
  const organisation_id = $('#id_organisation').val();
  const society_id = $('#id_society').val();
  const url = "{% url 'change-members-station' %}";
  $.get(url, {id:id, station_id:station_id, organisation_id:organisation_id, society_id:society_id}, (data, status) => {
    if(status == 'success' && data == 'success'){
      successMsg("Member's station has been successfully changed");
    }else{
      errorMsg("Error occured while changing member's station");
    }
  });
  $('#stations').modal('hide'); //dispose
  window.reload();
}

$('#id_station').on('change', () => {
    $.get("{% url 'get-organisation' %}", {'id':$('#id_station').val()}, (data, status, xhr) => {
      data = JSON.parse(data);
      if (status == 'success'){
        let options = "<option value='' selected>Select...</option>";
        data.forEach(org => {
          options += "<option value='"+org.id+"'>"+org.organisation__short_name+"</option>";
        });
        $('#id_organisation').html(options);
      }
    });
  });
  
$('#id_organisation').on('change', () => {
    $.get("{% url 'get-working_society' %}", {'id':$('#id_organisation').val()}, (data, status, xhr) => {
      data = JSON.parse(data);
      if (status == 'success'){
        let options = "<option value='' selected>Select...</option>";
        data.forEach(society => {
          options += "<option value='"+society.id+"'>"+society.name+"</option>";
        });
        $('#id_society').html(options);
      }
    });
  });
</script>
{% endblock %}